
// ==========================================================================
// ★ GLOBAL
// ==========================================================================
#work,
#contact,
#about{
  position: relative;
  background: $color-1;
  overflow: hidden;
  color: $color-4;
  z-index: 1;
  .ribbon {
    font-size: 3.5rem;
    padding: 2em;
    text-align: center;
    background: $color-3;
    color: $color-4;
    text-transform: uppercase;
    a {
      color: $color-4;
    }
  }
  .social {
    a {
      color: $color-3;
    }
    svg {
      path {
        fill: $color-3;
      }
    }
  }
}


// ==========================================================================
// ★ HELLO
// ==========================================================================
#hello {
  /* .cd-main-content basic style - index page */
  background-color: $color-1;
  /* vertically center its content */
  width: 100vw;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
  position: relative;
  h1,
  h2 {
    color: $color-3;
  }
  h2 {
    margin-bottom: 2em;
    font-size: 1.6rem;
    @include MQ(M) {
      font-size: 2.2rem;
    }
  }
  a {
    text-decoration: none;
  }

  .scroll-hide-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    text-align: center;
  }
  .scroll-hide-container {
  }
}


// ==========================================================================
// ★ WORK
// ==========================================================================
#work {
  background: #fff;
  figure {
    backface-visibility: hidden;
  }
}

// ==========================================================================
// ★ ABOUT
// ==========================================================================
#about {
  .ribbon a {
    @include transition(color .3s);
    &:hover {
      color: $color-1;
    }
  }
  .image-holder {
    background: #fff;
    width: 100%;
    img {
      display: block;
      width: 100%;
    }
  }
  .inner-wrap {
    margin: 4em auto;
    overflow: hidden;
  }
  .col-6 {
    padding: 0 2em;
    &:first-child {
      margin-bottom: 2em;
      @include MQ(M) {
        margin-bottom: 0;
      }
    }
  }
  h3 {
    margin: 0;
    font-size: 3rem;
    color: $color-3;
  }
  p {
    color: $color-3;

  }
  ul {
    @include display(flex);
    @include justify-content(space-between);
    flex-wrap: wrap;
  }
  li {
    display: block;
    position: relative;
    width: 45%;
    margin: 1.5em .5em;
    padding-bottom: 1em;
    color: $color-3;
    list-style-type: none;
    line-height: 1.25;
    font-size: 1.25em;
    text-align: center;
    .animate-bar {
      display: block;
      width: 100%;
      position: relative;
      padding: .5em 0 .75em;
      &:before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        background: $color-3;
        opacity: 1;
      }
      &:after {
        content: '';
        position: absolute;
        background: $color-1;
        left: 0;
        height: 4px;
        opacity: 1;
      }
    }
  }
}

// ==========================================================================
// ★ CONTACT
// ==========================================================================
#contact {
  background: $color-1;
  ul {
    @include display(flex);
    @include justify-content(space-around);
    @include align-items(center);
    padding: 2em 0;
    max-width: 650px;
    margin: 0 auto;
    li {
      list-style-type: none;
      span {
        margin: 0;
      }
      svg {
        margin: 0 auto;
      }
    }
  }
}


// ==========================================================================
// ★ LAYOUT/GLOBAL
// ==========================================================================
.inner-wrap {
  max-width: 860px;
  width: 90%;
  margin: 0 auto;
  // TODO
  // Move these to global
  ul,li,h2,h3 {
    color: $color-4;
  }
  h2 {
    font-size: 2.5rem;
    padding: 2em;
    text-align: center;
    color: $color-4;
  }
}





// ==========================================================================
// ★ ANIMATIONS
// ==========================================================================
.animate-left {
  @include transform(translateX(-5%));
  opacity: 0;
  @include transition(transform .7s ease .5s);
  transition-property: transform, opacity;
}
.animate-right {
  @include transform(translateX(5%));
  opacity: 0;
  @include transition(transform .7s ease .8s);
  transition-property: transform, opacity;
}
.animate-up {
  @include transform(translateY(15%));
  opacity: 0;
  @include transition(all .7s ease 1s);
  transition-property: transform, opacity;
}
.animate-up2 {
  @include transform(translateY(15%));
  opacity: 0;
  @include transition(transform .7s ease 1.3s);
  transition-property: transform, opacity;
}
.animate-up3 {
  @include transform(translateY(15%));
  opacity: 0;
  @include transition(transform .7s ease 1.5s);
  transition-property: transform, opacity;
}
.animate-up4 {
  @include transform(translateY(15%));
  @include transition(transform .7s ease);
  opacity: 0;
  transition-property: transform, opacity;
}
.animate-up5 {
  @include transform(translateY(15%));
  @include transition(transform .7s ease .1s);
  opacity: 0;
  transition-property: transform, opacity;
}
.animate-up6 {
  @include transform(translateY(15%));
  @include transition(transform .7s ease .2s);
  opacity: 0;
  transition-property: transform, opacity;
}
.animate-up7 {
  @include transform(translateY(15%));
  @include transition(transform .7s ease);
  opacity: 0;
  transition-property: transform, opacity;
}
.animate-up8 {
  @include transform(translateY(15%));
  @include transition(transform .7s ease .2s);
  opacity: 0;
  transition-property: transform, opacity;
}
.animate-up9 {
  @include transform(translateY(15%));
  @include transition(transform .7s ease .4s);
  opacity: 0;
  transition-property: transform, opacity;
}
.animate-up10 {
  @include transform(translateY(15%));
  @include transition(transform .7s ease .6s);
  opacity: 0;
  transition-property: transform, opacity;
}

.animate-skill {
  .animate-up {
    display: block;
    @include transform(translateY(15%));
    @include transition(transform .7s ease);
    opacity: 0;
    transition-property: transform, opacity;
  }
  .animate-down {
    display: block;
    @include transform(translateY(-15%));
    @include transition(transform .7s ease);
    opacity: 0;
    transition-property: transform, opacity;
  }
  .animate-bar:after {
    width: 0;
    @include transition(all .7s ease);
  }
}

.animate-skill2 {
  .animate-up {
    display: block;
    @include transform(translateY(15%));
    @include transition(all .7s ease .5s);
    opacity: 0;
    transition-property: transform, opacity;
  }
  .animate-down {
    display: block;
    @include transform(translateY(-15%));
    @include transition(all .7s ease .5s);
    opacity: 0;
    transition-property: transform, opacity;
  }
  .animate-bar:after {
    @include transition(all .7s ease .5s);
    width: 0;
  }
}

.animate-skill3 {
  .animate-up {
    display: block;
    @include transform(translateY(15%));
    @include transition(all .7s ease 1.2s);
    opacity: 0;
    transition-property: transform, opacity;
  }
  .animate-down {
    display: block;
    @include transform(translateY(-15%));
    @include transition(all .7s ease 1.2s);
    opacity: 0;
    transition-property: transform, opacity;
  }
  .animate-bar:after {
    @include transition(all .7s ease 1.2s);
    width: 0;
  }
}

.active {
  .animate-left {
    @include transform(translateX(0%));
    opacity: 1;
  }
  .animate-right {
    @include transform(translateX(0%));
    opacity: 1;
  }
  .animate-skill {
    .animate-down,
    .animate-up {
      @include transform(translateY(0%));
      opacity: 1;
    }
    .animate-bar:after {
      width: 80%;
    }
  }
  .animate-skill2 {
    .animate-down,
    .animate-up {
      @include transform(translateY(0%));
      opacity: 1;
    }
    .animate-bar:after {
      width: 75%;
    }
  }
  .animate-skill3 {
    .animate-down,
    .animate-up {
      @include transform(translateY(0%));
      opacity: 1;
    }
    .animate-bar:after {
      width: 50%;
    }
  }
  .animate-up,
  .animate-up2,
  .animate-up3,
  .animate-up4,
  .animate-up5,
  .animate-up6,
  .animate-up7,
  .animate-up8,
  .animate-up9,
  .animate-up10 {
    @include transform(translateY(0%));
    opacity: 1;
  }
  .animate-in {
   @include transform(translateX(0%));
   opacity: 1;
  }
}