// ==========================================================================
// ★ CONTACT
// ==========================================================================
main .cd-main-content.cd-contact {
  overflow-y: auto;
  h2 {
    font-weight: 500;
  }
  li:before {
    content: '';
    display: none;
  }
  a {
    text-decoration: none;
    @include transition(opacity .3s);
    &:hover {
      opacity: .7;
    }
  }
  .social {
    svg {
      display: block;
      @include size(50px);
      path {
        fill: $color-2;
      }
    }
    span {
      display: block;
      margin: 1em;
      font-size: 2rem;
    }
  }
}
