// colors

$color-1: #00CC93; // Green
$color-2: #1BABE3; // Blue
$color-2l: rgba(0,82,115,0.35); // Blue
$color-3: #ffffff; // White
$color-4: #202020;

// fonts

$primary-font: 'Open Sans', sans-serif;
