// colors

$color-1: #00CC93; // Green
$color-2: #1babe3; // Blue
$color-2l: rgba(0,82,115,0.35); // Blue
$color-3: #fff; // White
$color-4: #202020; //Dark Brown

// fonts

$primary-font: 'Open Sans', sans-serif;
