// ==========================================================================
// ★ INCLUDES
// ==========================================================================

@import '../bourbon/bourbon';
@import 'variables'; // colors, fonts etc...
@import 'mixins'; // custom mixins
@import 'helpers'; // custom mixins
@import 'layout';
@import 'navigation';
@import 'social';
@import 'work';
@import 'about';
@import 'contact';
@import 'resume';
// @import 'morph'; // responsive grid and media querie

// ==========================================================================
// ★ GENERAL
// ==========================================================================

*, *::after, *::before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	background: $color-3;
	padding: 0;
	font: {
		size: 1.4rem;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $color-2;
	@include font-smoothing;
}

a {
	color: $color-2;
	outline: none;
	text-decoration: none;
}



button {
	text-decoration: none;
	outline: none;
}

h1 {
	color: $color-2;
	font-size: 3.6rem;
	margin: 0;
	font-weight: 300;
	@include MQ(M) {
		font-size: 4.4rem;
	}
}

h2 {
	color: $color-2;
	font-size: 1.4rem;
	margin: 0;
	font-weight: 300;
	@include MQ(M) {
		font-size: 2.2rem;
	}
}

h3 {
	color: $color-2;
	margin: 0 0 2em;
	font-size: 1rem;

	font-weight: 300;
	@include MQ(M) {
		font-size: 2rem;
	}
}

// ==========================================================================
// ★ COMPONENTS
// ==========================================================================

.cd-btn {
	display: block;
	margin: 0 auto 2em;
	padding: 1.4em 1.6em;
	width: 90%;
	max-width: 320px;
	// border-radius: 50em;
	background-color: transparent;
	color: $color-3;
	border: 1px solid;
	font-weight: bold;
	font-size: 1.3rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	@include MQ(M) {
		display: inline-block;
		margin-right: 1em;
		width: auto;
	}
	.no-touch &:hover {
		background-color: $color-3;
		border: 1px solid $color-3;
		color: $color-1;
		@include transition(all .3s ease);
	}

	.cd-about & {
		background-color: $color-1;
	}
}

// ==========================================================================
// ★ NAVIGATION
// ==========================================================================
#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	nav {
		background: $color-2;
		padding: 1.25em 1em;
		overflow: hidden;
		.left {
			float: left;
		}
		.right {
			float: right;
		}
		a {
			font-size: 1.6rem;
			margin-right: .5em;
			color: $color-3;
			&.active {
				@include transition(all .3s);
				position: relative;
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					right: 0;
					bottom: -17px;
					height: 4px;
					width: 100%;
					background: $color-3;
				}
			}
		}
	}
}
// ==========================================================================
// ★ MAIN
// ==========================================================================
main {
	padding: 0;
	text-align: left;

	.cd-main-content {
		position: relative;
		height: 100%;

		a {
			text-decoration: none;
		}
	}

	p {
		width: 100%;
		max-width: $M;
		margin: 1em 0;
		font-size: 1.4rem;
		line-height: 1.25;
		color: $color-2;
		text-align: left;
	}

	ul {
		margin-top: .5em;
		padding: 0;
	}

	@include MQ(M) {

		// .cd-main-content {
		// 	height: 100vh;
		// }

		// &.cd-index > div {
		// 	padding-top: 200px;
		// }

		&.cd-index > div {
			// padding-top: 50px;
		}

		p {
			font-size: 1.8rem;
			line-height: 1.25;
		}
	}
}

.cd-cover-layer {
	/* layer that covers the content when the animation is triggered */
	position: fixed;
	@include center;
	height: calc(100%);
	width: calc(100%);
	opacity: 0;
	visibility: hidden;
	z-index: 999;
	background-color: $color-1;
	@include transition(opacity 0.4s 0.4s, visibility 0s 0.8s);

	.cd-work & ,
	.cd-about & {
		background-color: $color-2;
	}

	.page-is-changing & {
		opacity: 1;
		visibility: visible;
		@include transition(opacity 0.3s 0s, visibility 0s 0s);
	}

	@include MQ(M) {
		height: calc(100%);
		width: calc(100%);
	}
}

.cd-loading-bar {
	/* this is the loding bar - visible while switching from one page to the following one */
	position: fixed;
	z-index: 1001;
	left: 50%;
    top: 50%;
	height: 2px;
	width: 90%;
	background-color: $color-1;
	visibility: hidden;
	@include transition(visibility 0s 0.4s, transform 0.4s 0s ease-in);

	/* Force Hardware Acceleration */
	@include backface-visibility(hidden);
	@include transform(translateZ(0));

	@include transform(translateX(-50%) translateY(-50%));

	.cd-about & {
		background-color: $color-2;

		&::before {
			background-color: $color-1;
		}
	}

	&::before {
		/* this is the progress bar inside the loading bar */
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: $color-2;

		/* Force Hardware Acceleration */
		@include backface-visibility(hidden);
		@include transform(translateZ(0));

		@include transform(scaleX(0));
		@include transform-origin(left center);
	}

	.page-is-changing & {
		visibility: visible;
		@include transform(translateX(-50%) translateY(-50%) scaleX(.3));
		@include transition(visibility 0s 0.3s, transform 0.4s 0.4s);

		&::before {
			@include transform(scaleX(1));
			@include transition(transform 0.8s 0.8s ease-in);
		}
	}

	@include MQ(M) {
		width: calc(100%);
	}
}

.cd-template .cd-main-content {
	background: $color-2;
	.cd-btn {
		background: $color-1;
	}
	p {
		color: $color-2;
	}
}
