// ==========================================================================
// ★ INCLUDES
// ==========================================================================

@import '../bourbon/bourbon';
@import 'variables'; // colors, fonts etc...
@import 'mixins'; // custom mixins
@import 'layout';
@import 'social';
@import 'work';
// @import 'morph'; // responsive grid and media querie

// ==========================================================================
// ★ GENERAL
// ==========================================================================

*, *::after, *::before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	background: $color-1;
	padding: 0;
	font: {
		size: 1.6rem;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $color-3;
	@include font-smoothing;
}

a {
	color: $color-2;
	text-decoration: none;
}

a, button {
	text-decoration: none;
	outline: none;
}

h1 {
	color: $color-3;
	font-size: 2.2rem;
	margin: 0;

	@include MQ(M) {
		font-size: 4.4rem;
		font-weight: 300;
	}
}

h2 {
	color: $color-3;
	font-size: 1.2rem;

	@include MQ(M) {
		font-size: 2.4rem;
		font-weight: 300;
	}
}

h3 {
	color: $color-3;
	margin: 0 0 2em;
	font-size: 1rem;

	@include MQ(M) {
		font-size: 2rem;
		font-weight: 300;
	}
}

// ==========================================================================
// ★ COMPONENTS
// ==========================================================================

.cd-btn {
	display: inline-block;
	padding: 1.4em 1.6em;
	margin-right: 1em;
	margin-bottom: 2em;
	// border-radius: 50em;
	background-color: transparent;
	color: $color-3;
	border: 1px solid;
	font-weight: bold;
	font-size: 1.3rem;
	letter-spacing: 1px;
	text-transform: uppercase;

	.no-touch &:hover {
		background-color: $color-2;
		border: 1px solid $color-2;
		@include transition(all .3s ease);
	}

	.cd-about & {
		background-color: $color-1;
	}
}

// ==========================================================================
// ★ NAVIGATION
// ==========================================================================
#header {
	nav {
		background: $color-3;
		padding: 1em;
		overflow: hidden;
		.left {
			float: left;
		}
		.right {
			float: right;
		}
		a {
			margin-right: .5em;
			&.active {
				@include transition(all .3s);
				border-bottom: 1px solid $color-2;
			}
		}
	}
}
// ==========================================================================
// ★ MAIN
// ==========================================================================

body {

	&::after, &::before {
		/* these are the 2 half blocks which cover the content once the animation is triggered */
		content: '';
		height: 50vh;
		width: 100%;
		position: fixed;
		left: 0;
		background-color: $color-3;
		z-index: 1;

		/* Force Hardware Acceleration */
		@include backface-visibility(hidden);
		@include transform(translateZ(0));

		@include transition(transform 0.4s 0.4s);
	}

	&::before {
		top: 0;
		@include transform(translateY(-100%));
	}

	&::after {
		bottom: 0;
		@include transform(translateY(100%));
	}

	&.page-is-changing::after, &.page-is-changing::before {
		@include transform(translateY(0));
		@include transition(transform 0.4s 0s);
	}
}

main {
	height: 100vh;
	padding: 0;
	text-align: center;

	.cd-main-content {
		position: relative;
		height: 100vh;

		> div {
			height: 100%;
			overflow: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
		}

		&::after, &::before {
			/* these are the 2 gradient overlay at the top and bottom of the .cd-main-content - to indicate that you can scroll */
			content: '';
			position: absolute;
			left: 0;
			height: 50px;
			width: 100%;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		&.cd-index {
			/* .cd-main-content basic style - index page */
			background-color: $color-1;
			/* vertically center its content */
			display: table;
			width: 100%;

			> div {
				/* vertically center the content inside the .cd-index */
				display: table-cell;
				vertical-align: middle;
			}

		}

		&.cd-work,
		&.cd-about {
			/* .cd-main-content basic style - about page */
			background-color: $color-2;

			> div {
				padding-top: 50px;
			}

		}
	}

	p {
		width: 90%;
		max-width: $M;
		margin: 3em auto;
		font-size: 1.4rem;
		line-height: 1.6;
		color: $color-3;
		text-align: left;
	}

	@include MQ(M) {

		.cd-main-content {
			height: 100vh;
		}

		&.cd-index > div {
			padding-top: 200px;
		}

		&.cd-index > div {
			padding-top: 50px;
		}

		p {
			font-size: 1.8rem;
			line-height: 2;
		}
	}
}

.cd-cover-layer {
	/* layer that covers the content when the animation is triggered */
	position: fixed;
	@include center;
	height: calc(100% - 20px);
	width: calc(100% - 20px);
	opacity: 0;
	visibility: hidden;
	background-color: $color-1;
	@include transition(opacity 0.4s 0.4s, visibility 0s 0.8s);

	.cd-about & {
		background-color: $color-2;
	}

	.page-is-changing & {
		opacity: 1;
		visibility: visible;
		@include transition(opacity 0.3s 0s, visibility 0s 0s);
	}

	@include MQ(M) {
		height: calc(100% - 40px);
		width: calc(100% - 40px);
	}
}

.cd-loading-bar {
	/* this is the loding bar - visible while switching from one page to the following one */
	position: fixed;
	z-index: 2;
	left: 50%;
    top: 50%;
	height: 2px;
	width: 90%;
	background-color: $color-1;
	visibility: hidden;
	@include transition(visibility 0s 0.4s, transform 0.4s 0s ease-in);

	/* Force Hardware Acceleration */
	@include backface-visibility(hidden);
	@include transform(translateZ(0));

	@include transform(translateX(-50%) translateY(-50%));

	.cd-about & {
		background-color: $color-2;

		&::before {
			background-color: $color-1;
		}
	}

	&::before {
		/* this is the progress bar inside the loading bar */
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: $color-2;

		/* Force Hardware Acceleration */
		@include backface-visibility(hidden);
		@include transform(translateZ(0));

		@include transform(scaleX(0));
		@include transform-origin(left center);
	}

	.page-is-changing & {
		visibility: visible;
		@include transform(translateX(-50%) translateY(-50%) scaleX(.3));
		@include transition(visibility 0s 0.3s, transform 0.4s 0.4s);

		&::before {
			@include transform(scaleX(1));
			@include transition(transform 0.8s 0.8s ease-in);
		}
	}

	@include MQ(M) {
		width: calc(100% - 40px);
	}
}

.cd-template .cd-main-content {
	background: $color-2;
	.cd-btn {
		background: $color-1;
	}
	p {
		color: $color-3;
	}
}

//Helpers
.hide {
	@include transform(translateY(-100%));
	@include transition(all .3s);
}